* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background: white;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.contacto {
    display: inherit;
    align-items: center;
}

/*Lupa de busqueda*/
.container {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

/*Lupa de busqueda*/
input {
    outline: none;
    box-sizing: border-box;
    height: 60px;
    width: 0;
    padding: 0 20px;
    color: black;
    border-radius: 50px;
    font-size: 20px;
    border: 1px solid rgb(255, 140, 9);
    transition: all .7s ease;

}

/*Lupa de busqueda*/
::placeholder {
    color: black
}

/*Lupa de busqueda*/
.btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 80px;
    background: orange;
    line-height: 80px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}

/*Lupa de busqueda*/
.btn i {
    font-size: 25px;
    color: white;
    line-height: 80px;
    transition: .5s;

}

/*Lupa de busqueda*/
.container:hover input {
    width: 350px;
}

/*Lupa de busqueda*/
.container:hover i {
    transform: rotate(-360deg);
}

/*Lupa de busqueda*/
.btn:hover {
    background: orange;
}

/*Centrar imagen del Inicio*/

.caja-presentacion {
    max-width: calc(100vw - 20px);
    text-align: center;
}

.caja-presentacion>img {
    max-width: 100%
}

/*Pie de pagina*/
footer {
    background-color: black;
    position: static;
    bottom: 0;
    width: 100%;
    height: 150px;
    color: white;
    flex-direction: column;
}

/*Simbolo de WPP*/
.whatsapp {
    float: right;
    flex-direction: column;
}


main {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;


    flex-wrap: wrap;
}

.contacto {
    height: 180px;
    margin: 10;
    padding: 10;
    float: right;

}

/*MENU NAVEGACION*/
.navegacion-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    height: 80px;
}

* {
    box-sizing: border-box;
}

@media(min-width:450px) {
    article {
        width: calc(50% - 5px);
        padding: 10px;
    }
}

@media (min-width:768px) {
    article {

        width: calc(33% - 5px);

        /*Modelo de caja y como se computan los rellenos*/
        padding: 10%;

    }
}

.sobre-nosotros {
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;

}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}